<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Your NCMs </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>
<body>
    <div class="header">
        <div class="top-nav">
            <ul>
                <li><a href="http://127.0.0.1:5000/">HOME</a></li>
                <li><a href="#">OUR WORK</a></li>
                <li><a href="#">WHAT WE DO</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ul>
            <button>Contact Us</button>
        </div>
        <div class="side-nav">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logo" >
            <a href="#">Version 1.1.2</a>
        </div>
    <div class="thres-form">
        <form action="/tval" method="post" >
            <label for="tval">Enter the threshold value:</label><br/>
            <input type="text" name="tval" id="tval" class="neutro-input"><br/><br/>
            <label for="state">Enter the state which is to be active (If an iteration of all states active one by one enter 0): </label><br/><br/>
            <input type="text" name="state" class="neutro-input" ><br/><br/>
            <input type="submit" value="Submit" id="sbmt-btn2">
         </form>
    </div>
    </div>  
   </body>
</html>